body {
    display: flex;
}

canvas {
    background-image: url("./images/zombieback.jpeg"); 
    background-size: cover;
    width: 70vw;

}

.instructions {
    width: 20vw;
    background:lightpink;
}